---
title: Portfolio
layout: default
comments:
  - author:
      type: github
      displayName: ZhenxueXu
      url: 'https://github.com/ZhenxueXu'
      picture: 'https://avatars3.githubusercontent.com/u/18114535?v=3&s=73'
    content: test
    date: 2017-04-25T13:13:44.561Z
  - author:
      type: full
      displayName: ZhenxueXu
      url: 'https://github.com/ZhenxueXu'
      picture: 'https://avatars0.githubusercontent.com/u/18114535?v=4&s=73'
    content: new
    date: 2017-08-17T05:59:39.658Z

---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>XZX - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="175" height="175" style="border-radius:50%;" src="/img/p1.png">
				<h1>XZX</h1>
				<p>A student major in Information Management & Computer,<br>
					focus on Java, Big Data and Data Mining.</p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">毕业设计</h2>
							<time>2016.12</time>
							<img src="images/intern-lxu.jpg">
							<ul>
								<li>
									期刊引文数据挖掘系统设计与开发，上传从中国知网下载的半结构化数据，系统自动完成数据解析，根据统计和相关数据挖掘方法完成对数据的分析，最后以图表形式呈现。
								</li>
								<li class="skill">
									<span>&nbsp;&nbsp;Java</span>
									<span class="i-react"></span>
									<span class="link"><a target="_blank" href="https://github.com/ZhenxueXu/JournalMiningSystem">View</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">数据挖掘</h2>
							<time>2016.06</time>
							<img src="images/bigdata.jpg">
							<ul>
								<li>
									这是自己本科阶段学习数据挖掘课程过程中，自己用R和MATLAB语言实现的经典数据挖掘算法。包括k-means，apriori,决策树，贝叶斯，k中心几个聚类、分类和关联规则算法。
								</li>
								<li class="skill">
									<span>&nbsp;&nbsp;Data</span>&nbsp;&nbsp;&nbsp;
									<span class="i-react"></span>
									<span class="link"><a target="_blank" href="https://github.com/ZhenxueXu/DataMiningAlgorithm">View</a></span>
								</li>
							</ul>
						</div>
					</li>
					
					<!--<li>
						<div class="cbp_tmlabel">
							<h2>SENOVA WebApp</h2>
							<img src="images/senova.jpg">
							<ul>
								<li>《多媒体交互设计一》结课作业，以北汽“绅宝”为目标品牌，iPad 为主要平台进行的 App 设计，旨在用一种可交互的方式介绍“绅宝”车型。完全采用 Html5 技术开发，可添加至主屏幕离线运行。着力于触控交互体验的优化与优雅的动画设计。</li>
								<li>Responsible : Front-End，Interaction，Product</li>
								<li>Partner : ZOE-张瑜</li>
								<li class="skill">
									<span class="cbp_tmicon-html"></span>
									<span class="fa fa-css3"></span>
									<span><b>JS</b></span>
									<span class="link"><a target="_blank" href="http://huangxuan.me/senova/">Link</a></span>
								</li>
							</ul>
						</div>
					</li>-->
					
					<li>
						{%if page.comments %}
                          {% assign sorted_comments = (page.comments | sort: 'date') %}
                        {% endif %}
                       {% for c in sorted_comments %}
                         <div class="media">
							<div class="media-left">
								<img src="{{ c.author.picture }}" alt="{{ c.author.displayName}}" height="73" width="73" style="border-radius:50%;">
							</div>
							<div class="media-body">
								<p class="text-muted" style=" padding-top: 0px; margin-top: 0px">
									<a href="{{ c.author.url }}">{{ c.author.displayName }}</a>
										on {{ c.date | date_to_string }}<br>
											{{ c.content | newline_to_br }}</p>
							</div>
						</div>
					{% else %}
					There are no comments on this post.
					{% endfor %}

<noscript>Please enable JavaScript to view the comment form powered by <a href="https://commentit.io/">Comm(ent|it)</a></noscript>
<div id="commentit"></div>
<script type="text/javascript">
  /** CONFIGURATION VARIABLES **/
  var commentitUsername = 'ZhenxueXu';
  var commentitRepo = 'ZhenxueXu/ZhenxueXu.github.io';
  var commentitPath = '{{ page.path }}';

  /** DON'T EDIT FOLLOWING LINES **/
  (function() {
      var commentit = document.createElement('script');
      commentit.type = 'text/javascript';
      commentit.async = true;
      commentit.src = 'https://commentit.io/static/embed/dist/commentit.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(commentit);
  })();
</script>
					</li>
					
				</ul>
			</div>
		</div>
		
	</body>
</html>
